<div class="row">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-content dashboard-wrapper">
                <div class="col-sm-6" ng-if="Data.ViewName == 'SuperAdmin'">
                    <h1>Admin</h1>
                    <div class="m-t-xl admin-btn">
                        <button class="btn btn-danger dim btn-large-dim" type="button" ui-sref="dobiadd"><span>Add New Dobi</span></button>
                        <button class="btn btn-danger dim btn-large-dim" type="button" ui-sref="dobimanage"><span>Manage Dobi</span></button>
                        <button class="btn btn-danger dim btn-large-dim" type="button" ui-sref="useradd"><span>Add User</span></button>
                        <button class="btn btn-danger dim btn-large-dim" type="button" ui-sref="usermanage"><span>Manage User</span></button>
                        <button class="btn btn-danger dim btn-large-dim" type="button" ui-sref="managepromo"><span>Add Promo</span></button>
                        <button class="btn btn-danger dim btn-large-dim" type="button"><span>Payment</span></button>
                    </div>

                </div>
                <div class="col-sm-6" ng-if="Data.ViewName == 'SuperAdmin' || Data.ViewName == 'Manager'">
                    <h1>Manager</h1>
                    <div class="m-t-xl admin-btn">
                        <button class="btn btn-success dim btn-large-dim" type="button" ui-sref="orders"><span>All Orders</span></button>
                        <button class="btn btn-success dim btn-large-dim" type="button"><span>In Progress</span></button>
                        <button class="btn btn-success dim btn-large-dim" type="button"><span>Cleaned Items</span></button>
                        <button class="btn btn-success dim btn-large-dim" type="button"><span>Deliverable Items</span></button>
                        <button class="btn btn-success dim btn-large-dim" type="button"><span>Delivered</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>