<div class="row">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-content ibox-height">
                <div class="col-sm-9 m-b-sm">
                    <h2>Manage Dobi</h2>
                </div>
                <div class="col-sm-3 m-b-sm">
                    <div class="input-group">
                        <input type="text" placeholder="Search dobi" class="input-sm form-control" ng-model="q"> <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="full-height-scroll">
                        <div class="table-responsive">
                            <table class="table table-responsive table-striped dobi-table" ng-if="Data.Dobies.length > 0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>ID</th>
                                        <th>IC No.</th>
                                        <th>Phone No.</th>
                                        <th>Driving License</th>
                                        <th>Address</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="dobi in Data.Dobies | filter:q | itemsPerPage: pageSize" current-page="currentPage" total-items="Data.TotalDobies" id="highlight{{$index}}">
                                    <td>
                                        <img class="img-circle dobi-pic" fallback-src="../../../../Content/images/fallback-dobi.png" ng-src="{{dobi.Photo}}" alt="{{dobi.FullName}}"/>
                                        <span class="m-l-sm">{{dobi.FullName}}</span>
                                    </td>
                                    <td>{{dobi.Name}}</td>
                                    <td>{{dobi.DobiId}}</td>
                                    <td>{{dobi.IcNumber}}</td>
                                    <td>{{dobi.Phone}}</td>
                                    <td>{{dobi.DrivingLicense}}</td>
                                    <td>{{dobi.Address}}</td>
                                    <td class="text-center">
                                        <!--<a class="btn btn-default btn-xs" href="#/dobi/details/{{dobi.DobiId}}">Details</a> |-->
                                        <a href="#/dobi/manage/{{dobi.DobiId}}"><i class="fa fa-pencil fa-2x text-muted"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div ng-if="!Data.Dobies.length">
                                <div class="col-lg-12">
                                    <h2 class="text-center">No Dobi is available.</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-t-md">
                    <div class="col-sm-12">
                        <div class="dobi-pi-calc pull-left m-l-md" ng-if="Data.TotalDobies > 0">Showing {{ Data.ShowingFrom }} - {{ Data.ShowingTo }} of {{Data.TotalDobies}} Dobies </div>
                        <div class="pull-right m-r-sm">
                            <dir-pagination-controls boundary-links="true" on-page-change="Methods.PageChangeHandler(newPageNumber)" template-url="WebApp/directives/pager/dirPagination.tpl.html"></dir-pagination-controls>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
