
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/WebApp/lib/plugins/angular-loading-bar/loading-bar.css" rel="stylesheet" />
    <link href="~/Content/plugins/toastr/angular-toastr.css" rel="stylesheet"/>
    <link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/center-spinner.css" rel="stylesheet" />
    <link href="~/Content/inspinia.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body class="white-bg">
    <div id="wrapper">
        <topmenu></topmenu>

        <div class="gray-bg">
            <div class="wrapper wrapper-content wrapper-height">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-loading"><div class="loading">Loading&#8230;</div></div>
                        <div class="animated fadeIn" data-ui-view id="ui-view"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="~/Scripts/urlConfig.js"></script>
    <script src="/WebApp/lib/require.js"></script>
    <script src="~/WebApp/config/main.js"></script>
</body>
</html>
