
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/toastr/angular-toastr.css" rel="stylesheet" />
    <link href="~/Content/plugins/ladda/ladda-themeless.min.css" rel="stylesheet" />
    @*<link href="~/Content/inspinia.css" rel="stylesheet" />*@
    @*<link href="~/Content/helper.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />*@
    <link href="~/Content/login.css" rel="stylesheet" />
</head>
<body ng-app="app" ng-controller="loginCtrl">

    <div class="top-content">
        <div class="inner-bg">
            <div class="container">

                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-box">
                            <img src="~/Content/images/login-dobi.jpg" class="img-responsive dobi-image-center" alt="Dobi" />
                        </div>
                    </div>

                    <div class="col-sm-1 middle-border"></div>
                    <div class="col-sm-1"></div>

                    <div class="col-sm-5">

                        <div class="form-box">
                            <form name="loginForm" class="dobi-login-form">
                                <div ng-class="{ 'login-err-msg': loginForm.username.$touched && loginForm.username.$invalid }">
                                    <label>Username</label> <br/>
                                    <input type="text" name="username" placeholder="Enter your username" required ng-model="Data.UserName">
                                    <div class="help-block" ng-messages="loginForm.username.$error" ng-if="loginForm.username.$touched">
                                        <p ng-message="required">Username is required.</p>
                                    </div>
                                </div>

                                <div class="password-div" ng-class="{ 'login-err-msg': loginForm.password.$touched && loginForm.password.$invalid }">
                                    <label>Password</label> <br/>
                                    <input type="password" name="password" placeholder="XXXXXXXXXXXX" required ng-model="Data.Password" ng-minlength="6" ng-maxlength="64">
                                    <div class="help-block" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                                        <p ng-message="required">Password is required.</p>
                                        <p ng-message="minlength">Minimum 6 character required.</p>
                                        <p ng-message="maxlength">Maximum 64 character allowed.</p>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary login-btn" ng-click="Methods.Login()" ng-disabled="loginForm.$invalid" ladda="loginLoading">Login Now</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    @*<div class="row login-gap"></div>
        <div class="row">
            <div class="col-md-5 login-dobi-img">
                <img src="~/Content/images/login-dobi.jpg" class="img-responsive" alt="Dobi" />
            </div>
            <div class="col-md-1 login-dobi-border"></div>
            <div class="col-md-3">
                <form name="loginForm" class="login-form m-t">
                    <div class="form-group" ng-class="{ 'has-error': loginForm.username.$touched && loginForm.username.$invalid }">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control" placeholder="Enter your username" required ng-model="Data.UserName">
                        <div class="help-block" ng-messages="loginForm.username.$error" ng-if="loginForm.username.$touched">
                            <p ng-message="required">UserName is required.</p>
                        </div>
                    </div>
                    <div class="form-group m-t-xl" ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid }">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" placeholder="XXXXXXXXXXXX" required ng-model="Data.Password" ng-minlength="6" ng-maxlength="64">
                        <div class="help-block" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                            <p ng-message="required">Password is required.</p>
                            <div ng-message="minlength">Minimum 6 character required.</div>
                            <div ng-message="maxlength">Maximum 64 character allowed.</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b" ng-click="Methods.Login()" ng-disabled="loginForm.$invalid" ladda="loginLoading">Login</button>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row login-gap"></div>*@

    @*<div class="middle-box text-center loginscreen animated fadeInDown">
            <div>
                <div>
                    <h1 class="logo-name">Dobi</h1>
                </div>
                <div>
                    <img src="~/Content/images/dobi.png" class="img-responsive img-circle dobi-img" alt="Dobi"/>
                </div>
                <h3 class="m-t">Login in. To see it in action</h3>
                <form name="loginForm" class="m-t">
                    <fieldset style="padding: 15px">
                        <div class="form-group" ng-class="{ 'has-error': loginForm.username.$touched && loginForm.username.$invalid }">
                            <input type="text" name="username" class="form-control" placeholder="Username" required ng-model="Data.UserName">
                            <div class="help-block" ng-messages="loginForm.username.$error" ng-if="loginForm.username.$touched">
                                <p ng-message="required">UserName is required.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid }">
                            <input type="password" name="password" class="form-control" placeholder="Password" required ng-model="Data.Password" ng-minlength="6" ng-maxlength="64">
                            <div class="help-block" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                                <p ng-message="required">Password is required.</p>
                                <div ng-message="minlength">Minimum 6 character required.</div>
                                <div ng-message="maxlength">Maximum 64 character allowed.</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b" ng-click="Methods.Login()" ng-disabled="loginForm.$invalid" ladda="loginLoading">Login</button>
                    </fieldset>
                </form>
            </div>
        </div>*@

    <script src="~/Scripts/urlConfig.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/WebApp/lib/angular.min.js"></script>
    <script src="~/WebApp/lib/angular-cookies.min.js"></script>
    <script src="~/WebApp/lib/ngStorage.min.js"></script>
    <script src="~/WebApp/lib/ngMessages.js"></script>
    <script src="~/Scripts/accountDirective.js"></script>
    <script src="~/WebApp/lib/plugins/toastr/angular-toastr.tpls.js"></script>
    <script src="~/WebApp/lib/plugins/ladda/spin.min.js"></script>
    <script src="~/WebApp/lib/plugins/ladda/ladda.min.js"></script>
    <script src="~/WebApp/lib/plugins/ladda/angular-ladda.js"></script>
    <script src="~/WebApp/controllers/loginController.js"></script>
</body>
</html>