/*.wrapper-height {
    min-height: 85vh;
    height: auto;
}

.has-error input {
    background-color: rgb(251, 227, 228);
}

.help-block p {
    font-size: 14px;
}

.btn-gray {
    color: #fff;
    background-color: #828282;
    border-color: #606060;
}
        .btn-gray:hover {
        color: #fff;
        background-color: #666666;
        border-color: #484646;
    }
.drop-box {
    background: #ffffff;
    border: 1px dashed #DDD;
    min-height: 225px;
    text-align: center;
    padding-top: 4em;
    cursor: pointer;
}
.dragover {
    border: 2px dashed #21b9bb;
}
.ng-img-preview {
    margin: 0 auto;
    width: 200px;
    height: 180px;
    margin-left: -3%;
    margin-top: -10%;
}
.mid-icon {
    font-size: 66px;
}
.dobi-pic {
    width: 20px;
    height: 20px;
}*/
.wrapper-content {
    padding-top: 5px;
}
.navbar {
    min-height: 100px;
}

.navbar-header {
    width: 100%;
}

.navbar-brand {
    height: 100px;
    padding: 20px 15px;
}

.dobi-title {
    padding: 18px;
}

.dobi-name {
    font-size: 16px;
    font-weight: 600;
}

.dobi-role {
    font-size: 20px;
    font-weight: 600;
    color: #E6354F;
}

.dobi-menu {
    padding: 37px 20px;
}

.dashboard-wrapper {
    min-height: 65vh;
}

    .dashboard-wrapper h1 {
        font-weight: 800;
    }

.admin-btn button {
    font-size: 14px;
    width: 31.9%;
    -moz-min-width: 130px;
    -ms-min-width: 130px;
    -o-min-width: 130px;
    -webkit-min-width: 130px;
    min-width: 130px;
}

    .admin-btn button span {
        white-space: normal;
    }


/** Start: Common **/
.dobi-submit-btn {
    min-width: 150px;
    border-radius: 8px;
}

.dobi-table > thead {
    background-color: #E6354F;
    color: #ffffff;
    font-size: 14px;
}

.dobi-table thead tr th {
    height: 60px;
    padding: 20px 10px;
    text-transform: uppercase;
}

.dobi-table tbody tr td {
    height: 55px;
    vertical-align: middle;
}

.dobi-pi-calc {
    font-size: 16px;
    font-weight: 600;
    color: #2470B7;
    margin-top: 15px;
}
/** End: Common **/


/** Start:  Dobi Add **/
.ibox-height {
    min-height: 65vh;
}

.dobi-add-form input {
    color: #555;
    outline: none;
    font-size: 1.1em;
    padding: 10px 2px 10px 0;
    border: none;
    margin: 0 0 5px 0;
    font-family: 'Open Sans', sans-serif;
    background: none;
    border-bottom: 1px solid #eee;
    width: 85%;
}

.dobi-add-form .form-group {
    margin-bottom: 30px;
}

.dobi-add-form .form-control:focus {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.dobi-add-form .has-error .form-control {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.dobi-add-form label {
    color: #2470B7;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}

.drop-box {
    background: #ffffff;
    border: 1px dashed #E6354F;
    color: #E6354F;
    min-height: 250px;
    text-align: center;
    padding-top: 5em;
    cursor: pointer;
    width: 250px;
}

.dragover {
    border: 2px dashed #21b9bb;
}

.ng-img-preview {
    margin: 0 auto;
    width: 248px;
    height: 248px;
    margin-left: 0%;
    margin-top: -21%;
}

.mid-icon {
    font-size: 66px;
}

.dobi-pic {
    width: 20px;
    height: 20px;
}
/** End:  Dobi Add **/

/** Start: Promo**/
.add-offer {
    font-size: 16px;
    color: #E6354F;
    font-weight: 600;
}

    .add-offer i {
        font-size: 18px;
        color: #2470b7;
    }

.dobi-promo-form input {
    color: #555;
    outline: none;
    font-size: 1.1em;
    padding: 10px 2px 10px 0;
    border: none;
    margin: 0 0 5px 0;
    font-family: 'Open Sans', sans-serif;
    background: none;
    border-bottom: 1px solid #eee;
    width: 85%;
}
.dobi-promo-form .form-control:focus {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}
.dobi-promo-form .has-error .form-control {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}
.dobi-promo-form input:read-only {
    background-color: #f9f9f9;
}
/** End: Promo**/


/** Start: Pagination **/

/** End : Pagination **/





@media (min-width: 768px) and (max-width: 1024px) {
    .dobi-add-form input {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .dashboard-wrapper {
        text-align: center;
    }

    .dobi-add-form input {
        width: 100%;
    }
}

@media (max-width: 415px) {
    .dashboard-wrapper {
        text-align: center;
    }

    .dobi-add-form input {
        width: 100%;
    }
}
