<link href="../../../../Content/angular-datepicker.css" rel="stylesheet" />


<div class="row">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-content ibox-height">
                <div class="col-sm-1 m-b-sm">
                    <h2>All Orders</h2>
                </div>
                <div class="col-sm-8 m-b-sm m-t-sm order-table-heading">
                    <div class="col-sm-3">
                        <i class="fa fa-sort date-fiter-fa" aria-hidden="true"></i>
                        <input type="datetime" name="dateFilter" class="form-control cursor-pointer white-bg date-filter" date-time ng-model="Data.SelectedDate"
                               view="date" auto-close="true" min-view="date" format="ddd, MMM DD, YYYY" date-change="Methods.OnDateSelected" required readonly>
                    </div>

                    <div class="col-sm-9">
                        <span class="dropdown move-to-btn">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">MOVE TO <i class="fa fa-sort" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu dropdown-alerts order-move-to">
                                <li ng-click="Methods.UpdateOrderStatus(Data.UpdateOrderStatus.InProgress, 'In Progress')">In Progress</li>
                                <li ng-click="Methods.UpdateOrderStatus(Data.UpdateOrderStatus.Processed, 'Cleaned Items')">Cleaned Items</li>
                                <li ng-click="Methods.UpdateOrderStatus(Data.UpdateOrderStatus.Deliverable, 'Deliverable Items')">Deliverable Items</li>
                                <li ng-click="Methods.UpdateOrderStatus(Data.UpdateOrderStatus.Delivered, 'Delivered')">Delivered</li>
                            </ul>
                        </span>
                    </div>

                </div>
                <div class="col-sm-3 m-b-sm">
                    <div class="input-group">
                        <input type="text" placeholder="Search order" class="input-sm form-control" ng-model="q"> <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="full-height-scroll">
                        <div class="table-responsive">
                            <table class="table table-responsive table-striped dobi-table" ng-if="Data.Orders.length > 0">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Service Id</th>
                                    <th>Client Name</th>
                                    <th>Phone No.</th>
                                    <th>Pickup Address</th>
                                    <th>Service Name</th>
                                    <th>Weight</th>
                                    <th>Quantity</th>
                                    <th>Detergent</th>
                                    <th>Status</th>
                                    <th>Cost (RM)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="order in Data.Orders | filter:q | itemsPerPage: pageSize" current-page="currentPage" total-items="Data.TotalOrders" id="highlight{{$index}}">
                                    <td><input type="checkbox" class="i-checks" icheck-checkbox ng-model="Data.SelectedOrders[order.ServiceId]"></td>
                                    <td>{{order.ServiceId}}</td>
                                    <td>{{order.UserName}}</td>
                                    <td>{{order.PhoneNumber}}</td>
                                    <td width="20%">{{order.Address}}</td>
                                    <td>{{order.Services}}</td>
                                    <td>{{order.TotalWeight}}</td>
                                    <td>{{order.TotalQuantity}}</td>
                                    <td>{{order.Detergents}}</td>
                                    <td>{{order.OrderStatus}}</td>
                                    <td>{{order.Total | number : 2}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div ng-if="!Data.Orders.length">
                                <div class="col-lg-12">
                                    <h2 class="text-center">No Order is available.</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-t-md">
                    <div class="col-sm-12">
                        <div class="dobi-pi-calc pull-left" ng-if="Data.TotalOrders > 0">Showing {{ Data.ShowingFrom }} - {{ Data.ShowingTo }} of {{Data.TotalOrders}} Orders </div>
                        <div class="pull-right">
                            <dir-pagination-controls boundary-links="true" on-page-change="Methods.PageChangeHandler(newPageNumber)" template-url="WebApp/directives/pager/dirPagination.tpl.html"></dir-pagination-controls>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>